body{
    font-family: 'Lato', sans-serif;
    color: rgb(114,119,123);
    height: 100%;
    width: 100%;
    position: absolute;
  }

a {
  color: rgb(114,119,123);
}

h5.title {
    margin: 11px 0 0 0;
}

ul.list-group {
    padding: 5px 0;
}

.row-user{
  padding: 40px 10px;
}
.row.col-12.form-chat {
    position: absolute;
    bottom: 7px;
}

.black{
  color #2c2d30;
}

.chat-header{
  width: 100%;
  background: #eeeeee;
  border-radius: 0px;
  padding: 10px 0px;
  margin: 0;
}

.chat-list{
  padding: 10px;
  height: 83%;
  overflow-y: scroll;
}

.chat-row{
  padding: 10px;
  background: #f3f3f9;
  border-radius: 14px;
  margin: 6px 0;

}
.file{
  max-width: 200px;
  height="auto"
}
