body{
  font-family: 'Lato', sans-serif;
  color: rgb(114,119,123);
  height: 100%;
  position: absolute;
  }
a{
  color: rgb(114,119,123);
}

.row-user{
    padding: 40px 10px;
}
.row.col-12.form-chat {
    position: absolute;
    bottom: 0;
}
.chat-list{
  padding: 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.black{
  color #2c2d30;
}

.chat-row{
  padding: 10px;
}
