{% extends "layout.html" %}
{% block title %} Index {% endblock %}
{% block style %}
<style type="text/css">
.nickname{
color: #2c2d30;
font-weight: bold;
}
.hours{
  color:#717274;
  font-size: 11px;
}
</style>
 {% endblock %}

{% block side %}
<div class="row row-user">
  <div class="col-2"><i class="fa fa-user-circle font-weight-bold"> </i></div>
  <div class="col-10"><span class="font-weight-bold"> {{nickname}} <a href="/logout" class="link m-2"><i class="fa fa-times"></i></a> <span></div>
</div>
<div class="row">
  <div class="col-9"><h5 class="title">Channels</h5></div>
  <div class="col-3"><i class="fa fa-plus-circle" data-toggle="modal" data-target="#modalNewChannel"></i></div>
</div>
<div class="col-12">
  <ul id="channel_list" class="list-group">
    {% for channel in channels%}
    <li><a href="/chat-details/{{channel}}" class="list-item">{{channel}}</a></li>
    {% endfor%}
  </ul>
</div>
{% endblock %}
{% block main %}

<div class="row chat-header" >
  <div class="col-11">
    <div class="col-12">
      <span  class="font-weight-bold black" style="color: #2c2d30;">{{current_channel}} </span >
    </div>
    <div class="col-9">
    </div>
  </div>
</div>

<div id="chat-list" class="chat-list">
  {% for message in messages%}
    <div class="row chat-row" >
      <div class="col-12">
        <div class="col-12">
          <span  class="nickname">{{message.nickname}}</span > <span class="hours">{{message.hours}}</span>
        </div>
        <div class="col-12">
          {{ message.message}}
        </div>
      </div>
    </div>
    {% endfor %}
</div>

<div class="row col-12 form-chat">
  <div class="col-12">
       <label class="sr-only" for="inlineFormInputGroup">Username</label>
       <div class="input-group mb-2">
         <div class="input-group-prepend">
           <div class="input-group-text">+</div>
         </div>
         <input id="message" type="text" class="form-control mr-2" id="inlineFormInputGroup" placeholder="Message.." autocomplete="off" style="width:70%"/>
         <input id="channel" type="hidden" value="{{current_channel}}" />
         <input id="nickname" type="hidden" value="{{nickname}}" />
         <input id="button-send-message" type="button" class="btn btn-primary" value="Submit"/>
       </div>
     </div>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {

    // Connect to websocket
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    // When connected, configure buttons
    socket.on('connect', () => {

        // Emmit a Send Message
         document.querySelector('#button-send-message').onclick = () => {

          var nickname = document.querySelector('#nickname').value;
          var message = document.querySelector('#message').value;
          var channel = document.querySelector('#channel').value;

          if (nickname && message && channel) {
              document.querySelector('#message').value = "";
              socket.emit('send-message', {'nickname': nickname, 'message': message, "channel": channel});
          } else {
              alert("Please write a message");
          }
        };

        // When a new Channel is added
        socket.on('new-message', data => {
           if(data){
             var message = data.message;
              //console.log(data.messages);
              const div = document.createElement('div');
              div.className ="row chat-row";
              var html = `
                <div class="row chat-row" >
                  <div class="col-12">
                    <div class="col-12">
                      <span  class="nickname">${message.nickname}</span > <span class="hours">${message.hours}</span>
                    </div>
                    <div class="col-12">
                      ${message.message}
                    </div>
                  </div>
                </div>
              `;

              div.innerHTML = html;
              document.querySelector('#chat-list').append(div);
            }
        });
    });
});

</script>
{% endblock %}
